.bio {
    text-align: center;
}

.bio__photo {
    width: 35%;
    @media(max-width: 768px) {
        width: 70%;
    }
}

.bio__photo__parrafo {
    margin: 0 15rem;
    @media(max-width: 768px) {
        margin: 0 auto;
    }
}