.title {
    background-color: $jelly-bean;
    color: $white;
    font-size: $xx-large;
    padding-top: 7rem;
    padding-bottom: 7rem;
    text-align: center;
    @media(max-width: 768px) {
        font-size: $large;
    }
}

.text__light {
    font-weight: $extralight;
}

.text_bold {
    font-weight: $bold;
}

.photo {
    background-color: $granite-gray;
    text-align: center;
    color: $white;
}

.photo__tomate {
    width: 70%;
    padding-top: 2rem;
    @media (max-width: 768px) {
        width: 100%;
    }
}

.photo__text {
    text-align: center;
    font-weight: $medium;
}

.photo__text__p {
    margin: 0 15rem;
    @media(max-width: 768px) {
        margin: 0 auto;
    }
}

.photo__two {
    background-color: $snow;
    text-align: center;
}